<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Change Password</title>
  <link
      rel="stylesheet"
      type="text/css"
      href="../../static/assets/css/template.css"
      th:href="@{/assets/css/template.css}"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="../../static/assets/css/template1.css"
      th:href="@{/assets/css/template1.css}"
  />
  <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/assets/css/blue.css}"
      href="../../static/assets/css/blue.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:wght@400;600;700&display=swap"
      rel="stylesheet"
  />
</head>
<body class="blue">
<div class="blue-title">
  <span>Change your password!</span>
</div>
<div class="blue-inner">
  <p>Your new password must be different from previous used passwords.</p>
  <form
      th:action="@{/change-password}"
      method="POST"
      th:object="${changePasswordDTO}"
  >
    <input
        class="form-control"
        type="text"
        name="oldPassword"
        id="oldPassword"
        required
        placeholder="Current Password"
    />
    <span
        th:if="${#fields.hasErrors('oldPassword')}"
        th:errors="*{oldPassword}"
        class="error-message"
    ></span>
    <input
        class="form-control"
        type="text"
        name="newPassword"
        id="newPassword"
        required
        placeholder="New Password"
    />
    <span
        th:if="${#fields.hasErrors('newPassword')}"
        th:errors="*{newPassword}"
        class="error-message"
    ></span>
    <input
        class="form-control"
        type="text"
        name="confirmPassword"
        id="confirmPassword"
        required
        placeholder="Confirm Password"
    />
    <span
        th:if="${#fields.hasErrors('confirmPassword')}"
        th:errors="*{confirmPassword}"
        class="error-message"
    ></span>
    <input
        type="submit"
        name="commit"
        value="Save"
        class="button expand submit-button"
    />
  </form>
</div>
<a class="close-blue" th:href="@{/user}">×</a>
<script
    type="text/javascript"
    th:src="@{/assets/js/main.js}"
></script>
</body>
</html>
