<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email</title>
</head>
<body>
<p>Hi <span th:text="${fullName}"></span>,</p>
<p>There was a request to reset your password at <span th:text="${time}"></span></p>
<p>Here is your new password to login: <span th:text="${password}"></span></p>
<p>If you did not make this change or if you have any concerns, please contact our support team immediately.</p>
</body>
</html>